html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: auto;
}

/* menu */
header {
    position: sticky;
    top: 0;
    width: 100% !important;
    height: 100px;
    text-align: center;
    background-color: #fcf4b3;
    margin: auto;
    display: flex;
    align-items: center;
    z-index: 3;
}



.logoimage {
    padding-left: 4%;
    height: 60%;
    width: auto;
}

ul {
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: space-between;
}

li {
    padding: 20px 20px 20px 21px;
}

.logo {
    font-size: 24px;
}

/* ここから下がハンバーガーメニューに関するCSS */

/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
    display: flex;
    height: 100px;
    width: 80px;
    right: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    /* 重なり順を一番上にする */
    cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
    content: '';
    display: block;
    height: 8px;
    width: 50px;
    border-radius: 5px;
    background: #156797;
    transition: 0.5s;
    position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
    bottom: 180%;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
    top: 180%;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked~.drawer_open span {
    background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked~.drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#drawer_input:checked~.drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
}

.nav {
    position: inherit;
    left: 86%;
    align-self: flex-start;
}

/* メニューのデザイン*/
.nav_content {
    width: 37%;
    margin-left: 13%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99;
    background: #fff;
    transition: 0.25s;
    text-align: center;
    padding-top: 5%;
    background-color: #469db9;
}


/* メニュー黒ポチを消す */
.nav_list {
    list-style: none;
    flex-flow: column;
    margin: auto;
    /* width:fit-content */
}

.nav_list a {
    text-decoration: none;
    color: #e7f3f6;
    font-size: 28px;
}

.nav_list img {
    width: 40px;
    padding-left: 10px;
}
.nav_list div{
    margin: auto;
}


/* 虫眼鏡アイコン設定 */
.nav_list,
.musimegame {
    display: flex;
    /* text-align: center; */
    vertical-align: middle;
    margin: 20px;
}

.musimegame {
    border-bottom: solid 3px;
}

/* .nav_list .musimegame:nth-child(2){
  padding-left:0px;
  } */

/* 上下矢印アイコン設定 */
.arrow {
    display: flex;
    border-bottom: solid 3px;
    margin-right: 3px;
}


/* ヒトアイコン設定 */
.hito {
    display: flex;
    border-bottom: solid 3px;
}

/* 地球儀アイコン設定 */
.tikyuugi {
    display: flex;
    border-bottom: solid 3px;
}

.nav_item {
    width: 300px;
    height: fit-content;
    margin: 0 auto;
}


/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked~.nav_content {
    left: 50%;
    /* メニューを画面に入れる */
}

/* login container */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}

main {
    width: 70%;

    margin: auto;
    margin-top: 100px !important;
}

/* map style */
#map {
    width: 100%;
    height: 0;
    padding: 2%;
    padding-bottom: 40%;
    margin: 1%;
    margin-right: 14%;
    border: solid 3px #4ea0c9;
}

.map-box {
    display: flex;
}

/* form styling */
form {
    display: flex;
}

fieldset {
    border: none;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-container label {
    margin: auto;
}

.coordinates {
    width: 80% !important;
}

.shortcut-name {
    background-color: #dae7ed;
    border: none;
}

#point_A {
    background-color: #f0a0a1;
    border: none;
}

#point_A::placeholder {
    font-weight: 800;
    color: #e27878
}

#point_B {
    background-color: #7ec6de;
    border: none;
}

#point_B::placeholder {
    font-weight: 800;
    color: #4ea0c9;
}

label {
    width: 100%;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
#shortcut-info {
    /* max-width: 350px; */
    width: 100%;
    padding: 5% 4%;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

#submitBtn {
    background-color: #166898;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 1.2% 10%;
    margin-left: 68%;
}

#submitBtn:hover {
    background-color: rgb(17, 87, 127);
    transition: 0.3s;
    cursor: pointer;
}

.shortcut-name::placeholder {
    font-weight: 800;
    color: #a3aeb2
}

/* media queries to make page responsive */
@media only screen and (max-width: 800px) {
    #map {
        padding-bottom: 50%;
    }

    .nav_content {
        width: 50%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    #map {
        padding-bottom: 60%;
    }

    .nav_content {
        width: 60%;
    }

    #drawer_input:checked~.nav_content {
        left: 41%;
        /* メニューを画面に入れる */
    }
}

@media screen and (max-width: 520px) {

    label {
        flex-basis: 100%;
    }

    input[type="text"],
    input[type="password"] {
        flex-basis: 100%;
    }

    header {
        position: fixed;
        width: 100%;
        height: 10%;
        background-color: #fcf4b3
    }

    main {
        margin-top: 10%;
    }

    .nav {
        margin-top: -4%;
    }

    .nav_content {
        width: 100%;
        margin-left: 0;
    }

    .logoimage {
        padding-left: 8%;
        height: 60%;
    }


    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after {
        height: 5px;
        width: 30px;
    }

    #drawer_input:checked~.nav_content {
        left: 0%;
        /* メニューを画面に入れる */
    }

    .home-button {
        padding: 10px !important;
    }

}

@media screen and (max-width:350px) {
    .nav {
        margin-top: -5%;
    }
}

@media screen and (max-width: 300px) {
    .logoimage {

        height: 40%;
    }

    header {
        width: 100%;
        height: 8%;
        background-color: #fcf4b3
    }

    main {
        margin-top: 8%;
    }

    .nav {
        margin-top: -8%;
        margin-left: -3%;
    }

    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after {
        height: 3px;
        width: 20px;
    }
}

@media screen and (max-width:250px) {
    header {
        height: 6%;
    }

    main {
        margin-top: 6%;
    }

    .nav {
        margin-top: -12%;
    }
}