 body{
  background-color: #2a3a44;
 }

  
  #equals {
    width: 75px;
    height: 60px;
    background-color: #4caf4fc7;
    color: #fff;
  }
  
  #clear {
    width: 75px;
    height: 60px;
  }  
  
  .calculator-container {
    width: 390px;
    height: 580px;
    background-color: #29333f;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0px 0px 10px #151b26;
    margin: 50px auto;
  }
  
  .calculator-display {
    width: 100%;
    height: 80px;
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
    font-size: 25px;
    text-align: right;
    box-shadow: 0px 0px 10px #333;
    margin-bottom: 30px;
  }
  
  .calculator-buttons {
    width: 100%;
    height: 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .calculator-button {
    width: 75px;
    height: 60px;
    font-size: 20px;
    background-color: #333;
    border: none;
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #151b26;
    transition: all 0.2s ease-in-out;
  }
  
  .calculator-button:hover {
    background-color: rgb(68, 68, 68);
    box-shadow: 0px 0px 10px rgb(68, 68, 68);
  }  

  #display {
    width: 100%;
    height: 80px;
    font-size: 25px;
    text-align:center;
    border: none;
    background-color: transparent;
    color: #f5f5f5;
  }
  #result {
    width: 100%;
    height: 80px;
    font-size: 25px;
    text-align:center;
    border: none;
    background-color: transparent;
    color: #333;
  }
  
  .number {
    background-color: #333;
    color: #f5f5f5;
  }
  
  .operator {
    background-color: rgb(45, 45, 45);
    color: #fff;
  }