body {
  background-color: #d9d9d9;
}

main {
  width: 80%;
  margin: auto;
}

.user-box {
  display: flex;
}

.user-icon {
  width: 30%;
  height: 30%;
  border-radius: 20%;
}

.user-name {
  margin-left: 10px;
}

.profile-data {
  margin: 5% 0;
  display: flex;
}

.profile-data h3 {
  margin: 10px;
}

.user-route {
  width: 80%;
  border-radius: 50px;
  background-color: #fff;
  padding: 5px;
}

.search-result {
  width: 75%;
  margin: 40px auto;
  background-color: #dae7ed;
  border: none;
  border-radius: 39px;
  box-shadow: 0 2px 7px 0 #1e232581;
  padding: 8px;
}

.search-result:hover {
  box-shadow: none;
  box-shadow: inset 2px 0 7px 0 #1e232581;
  border: none;
}

.route-name {
  color: #0000fe;
  padding-left: 10%;
}

.result-location {
  color: #091350;
  padding-left: 10%;
}

.result-comment {
  color: #2c4588;
  padding-left: 10%;
}

/* media queries　(レスポンシブ対策)) */
@media screen and (max-width: 1000px) {
  .profile {
    flex-direction: column;
  }

  .user-box {
    margin-bottom: 4vw;
  }

  #submitBtn {
    margin-left: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .nav_content {
    width: 50%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .nav_content {
    width: 60%;
  }
}

@media screen and (max-width: 520px) {
  label {
    flex-basis: 100%;
  }

  input[type="text"] {
    flex-basis: 100%;
  }

  main {
    margin-top: 10%;
  }
}

@media screen and (max-width:350px) {
  .nav {
    margin-top: -5%;
  }
}

@media screen and (max-width: 300px) {
  .logoimage {
    height: 40%;
  }

  main {
    margin-top: 8%;
  }
}

@media screen and (max-width:250px) {
  main {
    margin-top: 6%;
  }
}