body {
  width: 1000px;
  margin: auto;
  overscroll-behavior: auto;
}

header {
  width: 850px;
  background-color: #fcf4b3;
  margin: auto;
}



.search-box {
  width: 700px;
  margin: auto;
}

input {
  width: 250px;
}

.nukemiti1 ,.nukemiti2 {
  width: 820px;
  margin: auto;
  color: #5989cf;
  background: #ffffff;
  background-color: antiquewhite;
  border: solid 6px #aac5de;
  border-radius: 9px;
}




h1 {
  color: #0000fe;
  padding-left: 10%;
}

.p1 {
  color: #091350;
  padding-left: 10%;
}

.p2 {
  color: #2c4588;
  padding-left: 10%;
}


