html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: auto;
}

/* menu */
header {
  position: sticky;
  top: 0;
  width: 100% !important;
  height: 100px;
  text-align: center;
  background-color: #fcf4b3;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: 3;
}



.logoimage {
  padding-left: 4%;
  height: 60%;
  width: auto;
}

ul {
  display: flex;
  text-align: center;
  list-style: none;
  justify-content: space-between;
}

li {
  padding: 20px 20px 20px 21px;
}

.logo {
  font-size: 24px;
}

/* ここから下がハンバーガーメニューに関するCSS */

/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 100px;
  width: 80px;
  right: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  /* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 8px;
  width: 50px;
  border-radius: 5px;
  background: #156797;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 180%;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 180%;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked~.drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked~.drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked~.drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}

.nav {
  position: inherit;
  left: 86%;
  align-self: flex-start;
}

/* メニューのデザイン*/
.nav_content {
  width: 50%;
  height: 100%;
  /* のちのち大きさは微調査委する予定 */
  position: fixed;
  top: 0;
  left: 100%;
  /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #fff;
  transition: 0.25s;
  text-align: center;
  padding-top: 20px;
  background-color: #469db9;
}


/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
  flex-flow: column;
  margin: auto;
}

.nav_list a {
  text-decoration: none;
  color: #e7f3f6;
  font-size: 28px;
}

.nav_list img {
  width: 40px;
  padding-left: 10px;
}

.nav_list,
.menu_select{
  width: 70%;
  display: flex;
  /* text-align: center; */
  vertical-align: middle;
  margin: 20px;
}

.menu_select {
  border-bottom: solid 3px;
}

/* .nav_list .musimegame:nth-child(2){
padding-left:0px;
} */



/* 地球儀アイコン設定 */
.menu_select {
  display: flex;
  border-bottom: solid 3px;
}


.nav_item {
  width: 300px;
  height: fit-content;
}


/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked~.nav_content {
  left: 50%;
  /* メニューを画面に入れる */
}