body {
  width: 1000px;
  margin: auto;
}

header {
  width: 950px;
  height: 150px;
  background-color: #fcf4b3;
  margin: auto;
  display: flex;
}


.header img {
  text-align: left;
  padding-left: 80px;
  width: 300px;
  height: 100px;
  ;
}


ul {
  display: flex;
  text-align: center;
  list-style: none;
  justify-content: space-between;
}

li {
  padding: 20px 20px 20px 20px;
}



.ad-block1-wrapper {
  text-align: center;
  width:300px;
}

.ad-block1 {
  width: 250px;
  height:250px;
  margin:20px; 
  border: solid 4px;
}


.article-wrap{display: flex;}


.search-box {
  text-align: center;
  width: 680px;
  height: 50px;
  margin: auto;
}

input {
  width: 300px;
  height: 40px;
}

.nukemiti1,
.nukemiti2 {
  width: 580px;
  margin: 40px auto;
  background-color: #dae7ed;
  border: solid 6px #aac5de;
  border-radius: 39px;
}




h1 {
  color: #0000fe;
  padding-left: 10%;
}

.p1 {
  color: #091350;
  padding-left: 10%;
}

.p2 {
  color: #2c4588;
  padding-left: 10%;
}

.ad-block {
  border: solid 3px;
}




/* ----------------------------------------------------------------- */



.header {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  background-color: #fcf4b3;
}

.logo {
  font-size: 24px;
}

/* ここから下がハンバーガーメニューに関するCSS */

/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 80px;
  width: 180px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  /* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 8px;
  width: 50px;
  border-radius: 5px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 14px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 14px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked~.drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked~.drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked~.drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* メニューのデザイン*/
.nav_content {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #fff;
  transition: 0.25s;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked~.nav_content {
  left: 0;
  /* メニューを画面に入れる */
}